In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [ ]:
marks = pd.read_excel('marksheet_faked.xlsx')
marks

In [ ]:
marks.set_index('First name', inplace=True)
marks

In [ ]:
marks[['ECO', 'GFX','DM','SE','DBMS']].plot(kind='bar', figsize=(10,5), title='ECO Marks')

In [ ]:
marks.index

In [ ]:
marks['GFX'] # selecting a colum (series)

In [ ]:
marks.columns # only column

In [ ]:
marks['ECO'] **2

In [ ]:
marks['DM'] += 2 #grace marks

In [ ]:
marks

In [ ]:
marks[['DBMS', 'DM']] # selecting muntiple colunms

In [ ]:
marks['total']= marks['DBMS'] + marks['DM'] + marks['ECO'] + marks['GFX']+ marks['SE']

In [ ]:
marks

In [ ]:
marks['total'].plot(kind='pie', figsize=(10,5), title='Result')

In [ ]:
# sorting
marks.sort_values(by='total', ascending=False, inplace=True)
marks

In [ ]:
marks['percentage']= marks['total']/5

In [ ]:
marks.sort_values(by=['total', 'percentage'], ascending=False, inplace=True)

In [ ]:
fig, ax= plt.subplots(figsize=(15,5), ncols=2)
marks['total'].plot(kind='line',ax=ax[0])
cols= ['DBMS','DM','ECO','GFX','SE']
marks[cols].plot(kind='hist', ax=ax[1])
plt.show()

In [71]:
marks.groupby('Last name')['total'].mean()

Last name
Anjum         339.000000
Awasthi       265.000000
Gond          360.000000
Kashyap       358.000000
Kumari        417.000000
Pal           322.000000
Pandey        327.000000
Sharma        383.000000
Singh         320.666667
Soni          414.000000
Srivastava    343.000000
Verma         424.000000
Yadav         312.500000
Name: total, dtype: float64