In [24]:
def pythagoras(base, perpendicular):
    return (base**2 + perpendicular**2)**0.5

In [25]:
pythagoras(3,4)

5.0

In [26]:
pythagoras(12,5)

13.0

In [27]:
pythagoras(perpendicular=3 , base=10)

10.44030650891055

In [28]:
# lambda expression- for making anomymous function(1 line function)
f = lambda x: x**2 + 2*x + 1
print(f(2))
print(f(3))
print(f(10))
print(f(15))

9
16
121
256

In [29]:
g = lambda x, y: x**2 + 2*x*y + y**2
print(g(2,3))
print(g(3,4))

25
49

In [30]:
h = lambda p,b: (p**2 + b**2)**0.5

In [31]:
print(h(3,5))

5.830951894845301

In [32]:
# what is the amount after 16% dicount on 12000
12000 * (100-16)/100

10080.0

In [33]:
price = [1000, 3000,12999, 5000, 43999, 10500]
ans=[]
for i in range(len(price)):
    dis=price[i]*(1-.16)
    ans.append(dis)
print(ans)

[840.0, 2520.0, 10919.16, 4200.0, 36959.159999999996, 8820.0]

In [34]:
prices = [1000, 3000,12999, 5000, 43999, 10500]
dis_prices = []
for price in prices:
    ans = price* (1-.16)
    dis_prices.append(ans)
print(prices)
print(dis_prices)

[1000, 3000, 12999, 5000, 43999, 10500]
[840.0, 2520.0, 10919.16, 4200.0, 36959.159999999996, 8820.0]

In [35]:
dis_price = list(map(lambda p:p*(1-.16), prices))
print(dis_price)

[840.0, 2520.0, 10919.16, 4200.0, 36959.159999999996, 8820.0]

In [36]:
def new_func():
    x = [1,2,3,4,5,6,7,8,21]
    squ_x = list(map(lambda x:x**2, x))
    print(squ_x)

new_func()

[1, 4, 9, 16, 25, 36, 49, 64, 441]

In [37]:
x = [1,2,3,4,5,6,7,8,21]
squ_x = list(map(lambda x:x**3, x))
print(squ_x)

[1, 8, 27, 64, 125, 216, 343, 512, 9261]