# for and while loops
### for - step based loop

for i in range(10):
  print(i)

### while - condition based looop
````
 i = 0
 while i< 1o:
 print(i)
 i =+ 1
 ````

 - used for
   - iterating until a condition met

In [1]:
movies = ['koi mill gys', 'half girlfriend', 'padmavat', 'money heist','kungfu panda', 'stranger things' ,
         'the lion king', 'DDLJ' , 'aadipurush' , 'harry potter']

In [2]:
print(f'total movies = {len(movies)}')

total movies = 10

In [3]:
for movie in movies:
    print(movie)

koi mill gys
half girlfriend
padmavat
money heist
kungfu panda
stranger things
the lion king
DDLJ
aadipurush
harry potter

In [6]:
for movie in movies:
    print(f'{movie:30} {len(movie)}')

koi mill gys                   12
half girlfriend                15
padmavat                       8
money heist                    11
kungfu panda                   12
stranger things                15
the lion king                  13
DDLJ                           4
aadipurush                     10
harry potter                   12

In [7]:
nums = [32,56,23,56,12,67,56,7,2]
for i in nums:
    print(i, i**2)

32 1024
56 3136
23 529
56 3136
12 144
67 4489
56 3136
7 49
2 4

In [8]:
for i in nums:
    if i % 2 ==0:
        print(i, i**2)

32 1024
56 3136
56 3136
12 144
56 3136
2 4

In [9]:
sum(nums)

311

In [11]:
total_evens = 0
for i in nums:
    if i % 2 == 0:
        total_evens += i
print(total_evens)

214

In [12]:
for i in nums:
    print(i)
    if i > 60:
        break

32
56
23
56
12
67

In [16]:
x = ["apple", "potato", '', "orange", "mango"]
for item in x:
    if len(item) == 0:
        break
    print(item)

apple
potato

In [17]:
errors = 0
while True:
    username = input('Enter username: ')
    password = input('Enter password: ')
    if username == 'admin' and password =='secret':
        print('Login succesful')
        break
    elif errors == 3:
        print('Too many errors')
        break
    else:
        print('Invalid username/ password')
        errors += 1

Invalid username/ password
Invalid username/ password
Login succesful